
body {
    background-image: url(imagens/pacote-d013/fundo-madeira.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    padding-top: 20px;
    
}

div#iphone {
    padding-top: 20px;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

}

div#menu {
    display: grid;
    position: absolute;
    right: 25px;
    margin-left: 25px;

}

div#menu img {
    margin-bottom:  15px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    box-sizing: border-box;

}

div#menu a img:hover {
    border: 1px solid white;
    
}

iframe {
    position: absolute;
    width: 268px;
    height: 472px;
    padding-top: 80px;
    left: 21px;
}