body {
    background-image: url(imagens/pacote-d013/fundo-madeira.jpg);
    background-size: cover;
    position: relative;
    height: 94vh;
    
}

div#iphone {
    position: absolute;
    background-size: 100% 100%;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

}

div#menu {
    
}